*.un~
*.DS_Store
*.rbc
*.sassc
*.rdb
.sass-cache
.less-cache
.ngrok
Procfile
.rvmrc
.env
database.yml
sidekiq.yml
newrelic.yml
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
/.bundle
/vendor/bundle
/public/assets
/config/deploy.rb
/config/deploy
Capfile
