<h1>Password Recovery</h1>
<p>
  <a href="<%= reset_path email: @user.email.email, code: @code, only_path: false %>" class="excite-link">Click here</a> to reset your password.<br><br>
  If the link above does not work please copy and paste the url below into your browser.<br>
</p>
<div class="plain-strip p-10 f-11"><%= reset_path email: @user.email.email, code: @code, only_path: false %></div>
