<div class="row collapse">
  <div class="columns small-11 medium-8 box small-centered">
    <header class="smooth-header round-top-5">
      <div class="row">
        <div class="columns small-12">
          <h1 class="smooth-h1">Google Authenticator</h1>
        </div>
      </div>
    </header>
    <section>
      <%= simple_flash %>
      <%= render 'mfa_form' %>
    </section>
  </div>
</div>
