<div class="row collapse">
  <div class="columns small-11 medium-8 box small-centered">
    <header class="smooth-header round-top-5">
      <div class="row">
        <div class="columns small-12 medium-3">
          <h1 class="smooth-h1">Sign Up</h1>
        </div>
        <div class="columns medium-9 show-for-large-up">
          <p class="smooth-text pt-5 mb-0">Creating an account is quick, easy &amp; free.</p>
        </div>
      </div>
    </header>
    <section>
      <%= simple_flash %>
      <%= render 'signup_form' %>
    </section>
  </div>
</div>
