<table>
  <thead>
    <tr>
      <th>Currency</th>
      <th>Symbol</th>
      <th>Minimum Deposit</th>
      <th>Deposit Fee</th>
      <th>Minimum Withdrawal</th>
      <th>Withdrawal Fee</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Bitcoin</td>
      <td>XBT</td>
      <td>0</td>
      <td>0</td>
      <td>0.01</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>Litecoin</td>
      <td>LTC</td>
      <td>0</td>
      <td>0</td>
      <td>0.15</td>
      <td>0.1</td>
    </tr>
    <tr>
      <td>Dogecoin</td>
      <td>DVC / DOGE</td>
      <td>100</td>
      <td>0</td>
      <td>500</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Auroracoin</td>
      <td>AUR</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0.1</td>
    </tr>
    <tr>
      <td>Maxcoin</td>
      <td>MXC</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0.1</td>
    </tr>
    <tr>
      <td>Mazacoin</td>
      <td>MZC</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0.1</td>
    </tr>
    <tr>
      <td>Peeroin</td>
      <td>PPC</td>
      <td>0</td>
      <td>0</td>
      <td>0.1</td>
      <td>0.01</td>
    </tr>
    <tr>
      <td>Primecoin</td>
      <td>XPM</td>
      <td>0</td>
      <td>0</td>
      <td>0.1</td>
      <td>0.01</td>
    </tr>
    <tr>
      <td>Quark</td>
      <td>QRK</td>
      <td>0</td>
      <td>0</td>
      <td>10</td>
      <td>0.5</td>
    </tr>
  </tbody>
</table>
