<p>The Exchange supports its capital requirements through the sale of Membership Units. Purchasing MU allows you to save up to 60% on your trading costs, with no trade volume requirements.</p>
<p>We are currently selling a limited number of Preferred Membership Units (pMU). After they are all sold, we will continue to sell standard MU on this page. pMU will be purchased via the trading interface.</p>
<p>
  For Full information on Membership Units, please see the <a href="http://support.101.net/Knowledgebase/Article/View/5/5/what-are-membership-units" target="_blank">Knowledgebase</a>.
</p>
