<header class="dark-strip pt-30 pb-40">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="whitey">Become a 101DX Agent</h1>
      <h4 class="whitey">Join the Revolution</h4>
    </div>
  </div>
</header>


<section id="main-content" class="pt-20">
  <div class="row">
	<h2>Partner with 101 Digital Exchange and grow your Business!</h2>
	<p>As the ONLY Bitcoin and Crypto Currency Exchange with a mission to enable local distribution partners, we are the rational choice for any retailer looking to get involved with the Bitcoin and crypto currency phenomenon. </p>
	<p>Some of the benefits:</p>

	<ul>
		<li>Increase traffic to your store</li>
		<li>Attract a new group of customers</li>
		<li>Offer a service that complements your existing ones</li>
		<li>Receive commissions</li>
		<li>Growing global network and brand</li>
		<li>Ongoing support</li>
		<li>Regulatory compliance</li>
		<li>Strong focus on preventing money laundering and fraud</li>
	</ul>

	<p>Becoming a 101DX Agent is significantly more profitable in the short and long term than investing in a "Bitcoin ATM". Why?</p>

	<ul>
		<li>Zero Up-Front Costs</li>
		<li>Revenue on Every Transaction</li>
		<li>Significantly Faster and Easier client experience</li>
		<li>Personal Interaction gives you the opportunity to sell complimentary services in the same transaction.</li>
	</ul>

	<p>To become an agent, you should already have an existing retail location. Ideally, you already provide complimentary cash management services, such as currency exchange, remittance, pawn, cash-for-gold, etc.</p>

	<h2>
		What You Get
	</h2>

	<p>On this website, you will be listed by location. Our "Find an Agent" section will determine the visitor's current location and suggest your business when they are close.</p>
	<p>Additionally, you receive point of sale materials, and door/window decals identifying you as a 101DX Agent.</p>
	<p>Most importantly, you receive access to the Agent Portal. It is designed to be used on a PC, Laptop, Tablet, or Smartphone. Access is either via the Internet (SSL), VPN, or MPLS private circuit, depending on volume and availability. </p>
	

	<p>The following functions provide a complete client experience, and a robust backend interface: </p>
	<ul>
		<li>Front End</li>
		<ul>
			<li>Enroll New Cient</li>
			<li>Verify New or Existing Client by Photo / ID</li>
			<li>Buy Bitcoin / Altcoin</li>
			<li>Sell Bitcoin / Altcoin</li>
			<li>Deposit / Withdraw USD/EUR to Exchange</li>
		</ul>
		<li>Back End</li>
		<ul>
			<li>Volume & Income Reports</li>
			<li>Debit / Credit Balance</li>
			<li>Scheduled Settlement Report</li>
			<li>Unscheduled Settlement Request</li>
			<li>Add / Remove Employees</li>
			<li>Modify Employee Rights / Limits</li>
		</ul>
	</ul>
	<p>Other Currency options may also be available, depending on local regulation. Let's talk.</p>

	</ul>

	<h2>Want to become a 101DX Agent?</h2>
	<p>Simply <a href="http://support.101.net/Tickets/Submit" target="_blank">open a support request</a> under "Agent Enquiries" and a member of our Agent relations department will contact you within one business day.
	</p>
	</pre>
  </div>
</section>