<header class="dark-strip pt-30 pb-40">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="whitey">Cold Wallets</h1>
      <h4 class="whitey">Public Disclosure.</h4>
    </div>
  </div>
</header>


<div class="row">
  <div class="small-2 large-4 columns">
    <h2>Bitcoin</h2>
    <p><a href="http://blockr.io/address/info/1EyYtKYKfbexDnrnTTcQcJd2DrmKySW2EB">1EyYtKYKfbexDnrnTTcQcJd2DrmKySW2EB</a></p>    
  </div>
  <div class="small-4 large-4 columns">
    <h2>Litecoin</h2>
    <p><a href="http://ltc.blockr.io/address/info/LUx5YKcoSwYpxchgmdhA71aTyGnZccwQBV">LUx5YKcoSwYpxchgmdhA71aTyGnZccwQBV</a></p>    
  </div>
  <div class="small-6 large-4 columns">
    <h2>Peercoin</h2>
    <p><a href="http://ppc.blockr.io/address/info/PKogcAP7XPrngVr9P1QnWXbos6eCzYMeKk">PKogcAP7XPrngVr9P1QnWXbos6eCzYMeKk</a></p>    
  </div>
</div>

<div class="row">
  <div class="small-2 large-4 columns">
    <h2>Dogecoin</h2>
    <p><a href="http://dgc.blockr.io/address/info/D69oqfApD7PN7nRrZPgL7c1vu4yNpo2DMv">D69oqfApD7PN7nRrZPgL7c1vu4yNpo2DMv</a></p>
  </div>
  <div class="small-4 large-4 columns">
    <h2>Auroracoin</h2>
    <p><a href="http://blockexplorer.auroracoin.eu/address/AVYUZdgDiMoQ64ux9gSzvZu5VtNGPoJ84h">AVYUZdgDiMoQ64ux9gSzvZu5VtNGPoJ84h</a></p>    
  </div>
  <div class="small-6 large-4 columns">
    <h2>Maxcoin</h2>
    <p><a href="http://max.cryptoexplore.com/search/?s=mXaFGfniuhnq5FhzfLW51QJa3Cnqn9vtru">mXaFGfniuhnq5FhzfLW51QJa3Cnqn9vtru</a></p>    
  </div>
</div>

<div class="row">
  <div class="small-2 large-4 columns">
    <h2>Mazacoin</h2>
    <p><a href="http://explorer.mazacoin.org/address/MEZKbqgrFdkmMxTFcG3yh8qmdEW9nY11zn">MEZKbqgrFdkmMxTFcG3yh8qmdEW9nY11zn</a></p>
  </div>
  <div class="small-4 large-4 columns">
    <h2>Primecoin</h2>
    <p><a href="https://coinplorer.com/XPM/Addresses/AKw79Jf6QMWxyFtNnr7YBakgbVsUvtBXX4">AKw79Jf6QMWxyFtNnr7YBakgbVsUvtBXX4</a></p>
  </div>
  <div class="small-6 large-4 columns">
    <h2>Quark</h2>
    <p><a href="http://qrk.blockr.io/address/info/QV9Yd8EyyePbkwRGhhr8LC6TNZgaGmbD95">QV9Yd8EyyePbkwRGhhr8LC6TNZgaGmbD95</a></p>    
  </div>
</div>

