<header class="dark-strip pt-30 pb-40">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="whitey">Exchange Features</h1>
      <h4 class="whitey">Our Exchange and how it works</h4>
    </div>
  </div>
</header>

<section id="main-content" class="pt-20">
  <div class="large-12 columns">
    <div class="row">        

      <p>There are three sections in the DX clients section: My Account, Streamline, and DFX Matrix. Also, we have a <a href="http://support.101.net"> support portal</a>, should you wish to contact us.</p>

      <table>
        <thead>
          <tr>
            <th width="70%">Feature</th>
            <th width="10%">My Account</th>
            <th width="10%">Streamline</th>
            <th width="10%">DFX Matrix</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Identity Management</td>
            <td><i class="fa fa-check f-40 mb-20"></i></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>Security: Change Password</td>
            <td><i class="fa fa-check f-40 mb-20"></i></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>Security: Enable Two Factor Authentication</td>
            <td><i class="fa fa-check f-40 mb-20"></i></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>Deposit & Withdraw Coins</td>
            <td><i class="fa fa-check f-40 mb-20"></i></td>
            <td><i class="fa fa-check f-40 mb-20"></i></td>
            <td></td>
          </tr>

≈          <tr>
            <td>Security: Password</td>
            <td><i class="fa fa-check f-40 mb-20"></i></td>
            <td></td>
            <td></td>
          </tr>

        </tbody>
      </table>

<pre>
Wallet Side
-----------
Send / Request
-> send request via email

Coinbase  
Hi me@roberthof.com,

Your request for 123.00 XBT (worth $54,652.46 USD) has been sent to just@a.test.com.

We'll let you know by email when the payment arrives.

Kind regards,
The Coinbase Team

- ajax pop into history below w/ status pending

Buy / Sell
-> tabs buy sell history


</pre>


      <h3>Step 1: Sign up!</h3>
      <p>If you haven't figured that part out yet, well, here - sign up link</p>
      <p>We're bringing a new level of customer service to the world of bitcoins and cryptocurrencies.  After you sign up, you </p>
      <p>Step 1: Verification.  If you only want to trade Bitcoins / Crypto, you're good to go.  If you want to deal with USD or EUR, we will need </p>
      <p>Step 2: </p>
    <%= image_tag 'consumer-seal.jpg', class: 'mb-5' %>
      <h3>Next: Pick your Interface</h3>
    </div>
    <a name="streamline"></a>
    <h1>Streamline Interface</h1>
      <a name="DFX"></a>
    <h1>DFX Interface</h1>
  </div>
  

        <div class="small-12 columns">
          <h2 class="top20">Cash. For Cash.</h2>
          <div data-alert class="alert-box warning radius">
            Only Cryptocurrencies are supported during the Open Beta
            <a href="#" class="close">&times;</a>
          </div>
          <p>Bitcoins (and other digital currencies) are Cash for the Internet Age. So why pretend? We trade real world cash for digital cash. What could be more simple? You don't even need a bank account.</p>
        </div>
      </div>

      <div class="row">
        <a name="2"></a>
        <div class="small-12 columns">
          <h2 class="top20">No Waiting.</h2>
          <p>Want to buy or sell today? We've got agents in many major cities, and we're actively building our network. Simply drive or walk to your nearest agent and trade instantly.</p>
        </div>
      </div>

      <div class="row">
	  <a name="3"></a>
          <div class="small-12 columns">
            <h2 class="top20">Mobile First.</h2>
            <p>Not everyone has or needs a desktop. We have optimized our systems to allow you to buy, sell or trade digital currencies with a smartphone or tablet.</p>
          </div>
      </div>          

  <h4>Other shit i need to add in</h4>
        <ul>
          <li><b>Friendly Multilingual support</b> - Support currently available in English and Spanish.</li>
          <li><b>Choice of Easy or Advanced interface</b> - 
          <li><b>Security by Design</b></li> - We have watched and learned while others have 
        </ul>
  </div>      
    <div class="large-2 medium-2 columns pull-10">
      <ul class="side-nav">
       <li class="active"><a href="#1">Cash for Cash</a></li>
       <li class="divider"></li>
       <li><a href="#2">No Waiting</a></li>
       <li class="divider"></li>
       <li><a href="#3">Mobile Friendly</a></li>
      </ul>
    </div>

</section>
