<header class="dark-strip pt-30 pb-40">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="whitey">Why 101? Our Values</h1>
      <h4 class="whitey">What we believe in. What you should expect from us.</h4>
    </div>
  </div>
</header>

<section id="main-content">
  <div class="row">
    <div class="medium-10 columns push-2">
      <br/>
      <div class="row">
        <a name="1"></a>
        <div class="small-12 columns">
          <h2 class="top20">Easy to Start, Fast Document Approval.</h2>
          <p>For many accounts, all we need is your email address to get started.  Depending on how you use 101, we may require more verified personal information such as government ID. If we need more identification, a dedicated documents team is committed to verifying and approving accounts within two business days.</p>
          <h2>Personal Information and your Privacy</h2>
          <p>To comply with AML/KYC requirements in various jurisdictions around the world, we may require different types of personal information about you. Unless required by law, personal information and identifying documents are kept only in digital form, and are encrypted. Please see our <a href="<%= privacy_path %>">privacy policy</a> for more informtation.</p>

        </div>
      </div>
      
      <div class="row">
        <a name="2"></a>
        <div class="small-12 columns">
          <h2 class="top20">Convenience.</h2>
          <p>You can get your money into our out of our exchange quickly, and in a wide number of ways. </p>
          <p><i>Note: During Beta, we accept only crypto currencies for deposit and withdrawal</i></p>  
          <p>Clients from different countries will have different options, but our goal within two years is to have at least one non-bank option in every population center of over 100,000 people. </p>
          <p><i>Business Owners: Here's some information on <a href="<%=agents_path %>">becoming an agent</a></i></p>
        </div>
      </div>

      <div class="row">
        <a name="3"></a>
        <div class="small-12 columns">
          <h2 class="top20">Shockingly Great Support.</h2>
          <p>Let's face it, problems happen.  Where good companies separate themselves from the bad is in support. If you ever have a problem, we offer support by phone, web portal, and email.  Currently we understand English  (Spanish coming shortly), and our target response time is 6 hours during office hours. </p>
        </div>  
      </div>

      <div class="row">
        <a name="4"></a>
        <div class="small-12 columns">
          <h2 class="top20">Security.</h2>
          <p>Our network security team has an average of 20 years experience in securing high value internet properties. We employ bank level security protocols to ensure your data is secure, and your coins are safe.</p>
          <p>While we don't disclose all of our security meausres, here are a few differentiators:
          <ul>
            <li><b>PCI/DSS 3.0 Compliant</b> - while we don't work with the credit card industry, they do have excellent standards. 101DX is fully compliant with these standards. In fact, we use the same daily scanning technology as a baseline.</li>
            <li><b>Cold Storage by Default</b> - should a vulnerability be found in our wallets, only a small fraction of client funds are ever kept online in "hot" wallets.</li>
            <li><b>Redundant Firewals, Network Connections, and Hardware</b> - the exchange owns its own infrastructure, and depends on no third party for hands-on service.  No third party has physical access to our servers, and this is monitored by video surveilance.
          </ul>
        </div>
      </div>

      <section class="pt-60 pb-60">
        <div class="row">
          <div class="columns small-12 text-center f-28 strong">
            Like what you see? <a href="<%= signup_path %>" class="button radius excite strong mb-0 ml-20 f-28" data-reveal-id="signupModal" data-reveal>Get Started for Free</a>
          </div>
        </div>
      </section>
  </div>

    <div class="large-2 medium-2 columns pull-10">
      <ul class="side-nav">
       <li class="active"><a href="#1">Easy to Start / Fast Approvals</a></li>
       <li class="divider"></li>
       <li><a href="#2">Convenience</a></li>
       <li class="divider"></li>
       <li><a href="#3">Shockingly Great Support</a></li>
       <li class="divider"></li>
       <li><a href="#4">Security</a></li>
      </ul>
    </div>

</section>
