<%
  remove_table_footer ||= false
%>
<table class="mb-0" style="width: 100%;">
  <thead>
    <th class="f-12">When</th>
    <th class="f-12">Amount</th>
    <th class="f-12">Fee</th>
    <th class="f-12">Address</th>
    <th class="f-12">Status</th>
  </thead>
  <tbody>
    <% if @deposits.blank? %>
      <tr>
        <td class="f-11" colspan="4">You currently have no deposits.</td>
      </tr>
    <% else %>
      <% @deposits.each do |d| %>
        <%= render 'panel/wallet/deposit_item', deposit: d %>
      <% end %>
    <% end %>
  </tbody>
  <% unless remove_table_footer %>
    <tfooter>
      <tr>
        <td colspan="5" class="text-right" style="border-top: 1px solid #F5F5F5;">
          <a href="<%= panel_wallet_addresses_path %>" class="button radius secondary f-14 mb-0">Deposit</a>
        </td>
      </tr>
    </tfooter>
  <% end %>
</table>
