<header class="dark-strip pt-30 pb-40">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="whitey">Locations, Locations, Locations</h1>
      <h4 class="whitey">Bitcoins in your Neighborhood</h4>
    </div>
  </div>
</header>

<div class="row">
  <div class="large-12 columns">
    <div class="flexvideo">
		<iframe width="100%" height="170" frameborder="0" style="border:0" 
		src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB2SevSy3cHXCN7VgyLPJLmXRMlC6CFRrU&q=Bermuda">
		</iframe>
	</div>
  </div>
</div>

<div class="row">
	<ul>
	<li>Antigua and Barbuda</li>
	<li>Bahamas</li>
	<li>Barbados</li>
	<li>Belize</li>
	<li>Bermuda</li>
	<li>Canada</li>
	<li>Costa Rica</li>
	<li>Cuba</li>
	<li>Dominica</li>
	<li>Dominican Republic</li>
	<li>El Salvador</li>
	<li>Grenada</li>
	<li>Guatemala</li>
	<li>Haiti</li>
	<li>Honduras</li>
	<li>Jamaica</li>
	<li>Mexico</li>
	<li>Nicaragua</li>
	<li>Panama</li>
	<li>Saint Kitts and Nevis</li>
	<li>Saint Lucia</li>
	<li>Saint Vincent and the Grenadines</li>
	<li>Trinidad and Tobago</li>
	<li>United States</li>
	</ul>
</div>